<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.WishlistMapper">
    <select id="findAll" resultType="com.example.model.Wishlist">
        SELECT * FROM wishlists
    </select>
    <select id="findById" resultType="com.example.model.Wishlist">
        SELECT * FROM wishlists WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.example.model.Wishlist">
        INSERT INTO wishlists (name, created_at) VALUES (#{name}, NOW())
    </insert>
    <update id="update">
        UPDATE wishlists SET name = #{name} WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM wishlists WHERE id = #{id}
    </delete>
</mapper>